@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    padding: 100px;
    width: 1000px;
    margin: auto;
    text-align: left;
    font-weight: 300px;
    font-family: 'Roboto', sans-serif;
    color: #121212;
}
h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}
p {
    font-size: 16px;
    letter-spacing: 0.005em;
    line-height: 1.25;
}
p.none {
    font-size: 17px;
    letter-spacing: 0.005em;
    line-height: 1.5;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

div.flex_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
div.flex_left{
    margin-right: 50px;
}
div.flex_right{
    object-fit: contain;
}

div.polaroid {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.container {
  text-align: center;
  padding: 5px 8px;
}

div.image-blurred-edge {
    /* you need to match the shadow color to your background or image border for the desired effect*/
    opacity: 0.92;
    box-shadow: 0 0 8px 8px white inset;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}